.cover-section {
    width: 100%;
    height: 80vh;
    background-image: url("../assets/images/HeaderVector.png");
    background-size: 100% 100%;
    background-color: #ffffff;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-text {
    font-family: 'Pangolin', cursive;
    padding: 5px;
    font-size: 100px;
    text-overflow: wrap;
    text-align: center;

}

.subtitle-text {
    font-family: 'Merriweather Sans', sans-serif;
    padding: 10px;
    text-align: center;

}

.button-section{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.starter-buttons {
    margin: 10px;
    text-overflow: wrap;
}



.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 10px;
    flex-wrap: wrap;
}

.intro-text {
    width: 50%;
    margin: 10px;
    padding: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;

}

.intro-photo{
    width: 400px;
    border-radius: 10px;
}

@media (max-width: 576px) {
    .intro-photo{
        width: 80%;
        border-radius: 10px;
    }

    .title-text {
        font-size: 50px;
    }

    .clickable h3 {
        font-size: 15px;
        text-overflow: wrap;
    }

    p {
        font-size: 12px;
        text-overflow: wrap;
    }
}

.clickable {
    margin: 0.5vw;
    cursor: pointer;
}

.clickable:hover {
    background: rgba(255,255,255,0.85);
}