.body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: linear-gradient(115.4deg,#ff5ef5 7.46%,#12d8fa 52.88%,#a6ffcb 98.31%);
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0% 10%;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
}


#searchbar {
    border-radius: 20px;
    height: 5%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.75);
}