.body {
    position: relative;
    width: 100vw;
    background: linear-gradient(115.4deg, #ff5ef5 7.46%, #12d8fa 52.88%, #a6ffcb 98.31%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Merriweather Sans", sans-serif;
}

#body-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header {
    padding: 1% 5%;
    font-family: "Pangolin", cursive;
}

#gameContainer {
    display: flex;
    flex-direction: column;
}

#textInput {
    width: 60vw;
    height: 70vh;
    margin-right: 2vw;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    object-fit: cover;
    max-width: 30vw;
}

#whiteoutline {
    margin-top: 2vw;
    background-color: white;
    width: 100%;
    text-align: center;
    border: 2px solid black;
}

#hp {
    background-color: red;
    max-width: 100%;
}

.button {
    margin: 20%;
    width: 20vw;
    height: 5vh;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Merriweather Sans", sans-serif;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(0, 0, 0);
}
